﻿/*
flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 30%;
    border: 4px solid black;
    border-color: black;
    background-color: lightgoldenrodyellow;
}
}


div {
    max-width: 30%;
    border: 4px solid black;
    border-color: black;
    align-content: center;
    background-color: lightgoldenrodyellow;
    text-wrap: normal;
}

div1 {
    border: 4px solid black;
    border-color: yellow;
    align-content: center;
    background-color: lightgoldenrodyellow;
    text-wrap: normal;
}

div2 {
    border: 4px solid black;
    border-color: green;
    align-content: center;
    background-color: darkseagreen;
    text-wrap: normal;
}

div3 {
    border: 4px solid black;
    border-color: red;
    align-content: center;
    background-color: palevioletred;
    text-wrap: normal;
}

header {
    text-align: center;
    background-color: navy;
    color: white;
}

/*
p {
    /*max-width: 30%;*/
    /*border: 4px solid black;
    border-color: black;*/
    /*align-content: center;*/
    /*padding-top: 5px;
        padding-bottom: 5px;
}


footer {
    text-align: left;
    padding: 10px;
    background-color: pink;
    color: black;
    
    
    /*padding efektywnie odsuwa tekst o 10 pixeli od krawędzi, zgodnie z poleceniem.
    Testujący może zmienić wartość i zobaczyć jak się odsuwa.
    Ponieważ polecenie nie mówi że przy okazji nie może się powiększać stopka, jest to poprawne
    
}*/



header {
    background-color: navy;
    color: white;
    display: flex;
    justify-content: space-between;
}


    header a {
        justify-self: right;
        align-self: center;
        margin-right: 10px;
    }

        header a button {
            padding: 10px;
            background-color: aqua;
            border-radius: 10px;
            border-color: white;
            border: solid;
            border-width: 1px;
            color: white;
        }

    header h2 {
        justify-self: right;
    }

    header a {
        color: white;
        text-decoration: none;
    }

footer {
    background-color: aqua;
    padding: 5px 0 5px 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    margin-top: 300px;
}

img {
    width: 350px;
    height: 350px;
}

section {
    border: solid;
    width: fit-content;
    margin: 10px;
}

    section p {
        margin-left: 10px;
    }

.inline {
    display: inline-block;
}

.wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section a {
    margin-right: 10px;
}

article {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

    article > * {
        margin: 5px;
    }

.add-new {
    display: inline;
    text-align: center;
}

form {
    display: inline;
}

    form * {
        display: block;
        margin: 5px auto;
        width: 20vw;
    }

body {
    margin-bottom: 100px;
}
