td {
    background-color: red;
    height: 50px;
    width: 50px;
    border: 2px solid #ddd;    
}

th {
    background-color: yellow;
    border: 4px solid #aaa;
    height: 70px;
}

#xyz {
    border: 7px solid navy;
}

.One {
    background-color: pink;
}

.Two {
    border: 1px solid magenta;
}
 
