#Tlo1 {
    height: 100%;
    width: 100%;
    background-color: powderblue;
}

#GornyDiv {
    height: 100px;
    width: 200px;
    background-color: yellow;
}

#DolnyDiv {
    height: 100px;
    width: 200px;
    background-color: red;
    margin-top: 20px;
}
