grupa[index="1"] {
    float: left;
}

/* grupa[index="2"] {
    float: middle;
} */

grupa[index="3"] {
    float: right;
}


grupa {
    position: relative;
    float: left;
    border: 10;
    border-color: black;
    border-style: solid;
    left: 10px;
    height: 20%;
    width: 20%;
    /*background-color: antiquewhite;
    outline: 10;
    outline-color: navy;
    display: block; */
   }

/* grupa */

student {
    height: 4%;
    width: 20%;
    display: block;
    /* display: inline-block; */
    border: 12;
    border-color: aquamarine;
}

student[plec="M"] {
    background-color: blue;
}

student[plec="K"] {
    background-color: pink;
}

