/* list-style-type: circle; */

/* list-style-type: lower-alpha; */

#Fine {
    border-width: 40px;
    border-color: lime;
        background-color: yellow;
    width: 400px;
    float: left;
}

#Addition {
    border-width: 40px;
    border-color: blue;
    background-color: red;
    width: 600px;
    float: right;
}
